@media (prefers-color-scheme: light) {
    /*这是浅色的代码*/
    .menu {
        display: flex;
        background-color: #ffffff;
        position: absolute;
    
        width: 100%;
        height: 50px;
        left: 0;
        top: 0;
        z-index: 1;
    }
    
    .active{
        position:absolute;
        top: 30%;
        /* outline-color: black;
        outline-style: solid; */
        outline-width: 2px;
        text-decoration: none;
    }
    
    .active:hover{
        text-decoration: underline black;
        text-decoration-thickness: 2px;
    }
    
    .active:link{
        color: #262626;
    }
    
    body{
        height: 1000px;
    }
    
    .active:visited{
        color: #262626;
    }
    
    #index{
        left: 15%;
    }
    
    #about{
        left: 25%;
    }
    
    #news{
        left: 35%;
    }
    
    #product{
        left: 45%;
    }
    
    #contact{
        left: 55%;
    }
    
    .logo{
        width: 50px;
        height: 50px;
        position:absolute;
        left: 5%;
    }
    
    .user{
        position:absolute;
        top: 25%;
        background-color: #ffffff;
        border: none;
    }
    
    #login{
        right: 8%;
    }
    
    #register{
        right: 5%;
    }
    
    .user:hover{
        border-bottom: 2px solid rgb(28, 128, 241);
    }
    
    #picture .pictures{
        position:absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 51px;
        width: 100%;
        height: 594px;
        background-color: #ffffff;
        border: none;
        z-index: 0;
    }
    
    #panda_introduce{
        position: absolute;
        top: 650px;
    }
    
    #basic{
        position: relative;
        left: 15%;
    }
    #slogon{
        position: absolute;
        top: 45%;
        font-size: 50px;
        left: 15%;
        color: #000000;
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        background-color: #1F1F1F;
        --text-color: #ffffff;
    }
    .menu {
        display: flex;
        background-color: #232327;
        position: absolute;
    
        width: 100%;
        height: 50px;
        left: 0;
        top: 0;
        z-index: 1;
    }
    
    .active{
        position:absolute;
        top: 30%;
        /* outline-color: black;
        outline-style: solid; */
        outline-width: 2px;
        text-decoration: none;
    }
    
    .active{
        color: #ffffff;
    }

    .active:hover{
        text-decoration: underline rgb(28, 128, 241);
        text-decoration-thickness: 2px;
    }
    
    .active:link .active:visited{
        color: #262626;
    }
    
    body{
        height: 1000px;
    }
    
    #index{
        left: 15%;
    }
    
    #about{
        left: 25%;
    }
    
    #news{
        left: 35%;
    }
    
    #product{
        left: 45%;
    }
    
    #contact{
        left: 55%;
    }
    
    .logo{
        width: 50px;
        height: 50px;
        position:absolute;
        left: 5%;
    }
    
    .user{
        color: #ffffff;
        position:absolute;
        top: 25%;
        background-color: #232327;
        border: none;
    }
    
    #login{
        right: 8%;
    }
    
    #register{
        right: 5%;
    }
    
    .user:hover{
        border-bottom: 2px solid rgb(28, 128, 241);
    }
    
    #picture .pictures{
        position:absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 51px;
        width: 100%;
        height: 594px;
        background-color: #ffffff;
        border: none;
        z-index: 0;
    }
    
    #panda_introduce{
        position: absolute;
        top: 650px;
    }
    
    #basic{
        position: relative;
        left: 15%;
    }

    #slogon{
        position: absolute;
        top: 45%;
        font-size: 50px;
        left: 15%;
        color: #ffffff;
    }

}