/* 这些是通用代码 */


#cursor {
    animation: cursors_ 0.2s infinite;
}

#banner{
    position: absolute;
    background-size: cover;
    width: 100%;
    height: calc(100% - 50px);
    top: 50px; 
    left: 0;
}

#slogon {
    position: absolute;
    width: auto;
    font-size: 45px;
    top: 40%;
    left: 20%;
}

#writer{
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
}

@keyframes writer {
    to {
        left: 100%;
        width: 0;
    }
}

@media (prefers-color-scheme: light) {
    /*这是浅色的代码*/
    
    @keyframes cursors_ {
        0%{
            background-color: #000000;
        }
        100%{
            background-color: #ffffff;
        }
    }

    #cursor{
        position: absolute;
        background-color: #000000;
        height: 100%;
        width: 5px;
        left: 5px;
        z-index: 9999;
        border-radius: 5px;
    }

    #slogon {
        color: #000000;
        background-color: #ffffff;
    }

    #writer {
        background-color: #ffffff;
    }
    
    #banner{
        background: url(../../img/Panda_BG_l.svg) no-repeat;
        background-size: cover;
    }

    .menu {
        display: flex;
        background-color: #ffffff;
        position: absolute;
    
        width: 100%;
        height: 50px;
        left: 0;
        top: 0;
        z-index: 1;
    }
    
    .active{
        position:absolute;
        top: 30%;
        /* outline-color: black;
        outline-style: solid; */
        outline-width: 2px;
        text-decoration: none;
    }
    
    .active:hover{
        text-decoration: underline black;
        text-decoration-thickness: 2px;
    }
    
    .active:link{
        color: #262626;
    }
    
    body{
        height: 1000px;
    }
    
    .active:visited{
        color: #262626;
    }
    
    #index{
        left: 15%;
    }
    
    #about{
        left: 25%;
    }
    
    #news{
        left: 35%;
    }
    
    #product{
        left: 45%;
    }
    
    #contact{
        left: 55%;
    }
    
    .logo{
        width: 50px;
        height: 50px;
        position:absolute;
        left: 5%;
    }
    
    .user{
        position:absolute;
        top: 25%;
        background-color: #ffffff;
        border: none;
    }
    
    #login{
        right: 8%;
    }
    
    #register{
        right: 5%;
    }
    
    .user:hover{
        border-bottom: 2px solid rgb(28, 128, 241);
    }
    
    #picture .pictures{
        position:absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 51px;
        width: 100%;
        height: 594px;
        background-color: #ffffff;
        border: none;
        z-index: 0;
    }
    
    #panda_introduce{
        position: absolute;
        top: 650px;
    }
    
    #basic{
        position: relative;
        left: 15%;
    }

    
}

@media (prefers-color-scheme: dark) {

    @keyframes cursors_ {
        0%{
            background: #ffffff;
        }
        100%{
            background: #1F1F1F;
        }
    }

    #cursor{
        position: absolute;
        background-color: #ffffff;
        height: 100%;
        width: 5px;
        left: 5px;
        z-index: 9999;
        border-radius: 5px;
    }

    #slogon{
        color: #ffffff;
        background: #1F1F1F;
    }

    #writer{
        background: #1F1F1F;
    }
    
    :root{
        background-color: #1F1F1F;
        --text-color: #ffffff;
    }

    #banner{
        background: url(../../img/Panda_BG.svg) no-repeat;
        background-size: cover;
    }
    
    .menu {
        display: flex;
        background-color: #232327;
        position: absolute;
    
        width: 100%;
        height: 50px;
        left: 0;
        top: 0;
        z-index: 1;
    }
    
    .active{
        position:absolute;
        top: 30%;
        /* outline-color: black;
        outline-style: solid; */
        outline-width: 2px;
        text-decoration: none;
    }
    
    .active{
        color: #ffffff;
    }

    .active:hover{
        text-decoration: underline rgb(28, 128, 241);
        text-decoration-thickness: 2px;
    }
    
    .active:link .active:visited{
        color: #262626;
    }
    
    body{
        height: 1000px;
    }
    
    #index{
        left: 15%;
    }
    
    #about{
        left: 25%;
    }
    
    #news{
        left: 35%;
    }
    
    #product{
        left: 45%;
    }
    
    #contact{
        left: 55%;
    }
    
    .logo{
        width: 50px;
        height: 50px;
        position:absolute;
        left: 5%;
    }
    
    .user{
        color: #ffffff;
        position:absolute;
        top: 25%;
        background-color: #232327;
        border: none;
    }
    
    #login{
        right: 8%;
    }
    
    #register{
        right: 5%;
    }
    
    .user:hover{
        border-bottom: 2px solid rgb(28, 128, 241);
    }
    
    #picture .pictures{
        position:absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 51px;
        width: 100%;
        height: 594px;
        background-color: #ffffff;
        border: none;
        z-index: 0;
    }
    
    #panda_introduce{
        position: absolute;
        top: 650px;
    }
    
    #basic{
        position: relative;
        left: 15%;
    }
}